In [184]:
#Dependencies
import pandas as pd 
from splinter import Browser
from bs4 import BeautifulSoup
import requests

In [185]:
#Set up path for browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [186]:
#Open URL
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [187]:
#Grab latest headline
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find('div',class_='image_and_description_container').find('div',class_='content_title').find('a').text
news_p = soup.find(class_='article_teaser_body').text

print(news_title)
print(news_p)

NASA InSight's 'Mole' Is Out of Sight
Now that the heat probe is just below the Martian surface, InSight's arm will scoop some additional soil on top to help it keep digging so it can take Mars' temperature.

In [188]:
#Navigate to JPL Mars featuered image
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(jpl_url)
browser.find_by_id('full_image').click()

In [189]:
#Navigate to image page
browser.find_link_by_partial_text('more info').click()

In [190]:
#Get to fullsize image
browser.find_link_by_partial_href('/spaceimages/images').click()

In [191]:
#Scrape image URL
featured_image_url = browser.url

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18848_hires.jpg

In [192]:
#Get Mars facts with Pandas
facts_url = 'https://space-facts.com/mars/'

tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [193]:
#Check data type
type(tables)

list

In [194]:
#Slice off other tables
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [195]:
#Convert to HTML
df.to_html('table.html')